<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>{{ item.name }}</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-flex align-center layout py-2 />
      </v-toolbar-items>
    </v-toolbar>
    <v-tabs>
      <v-tab key="overview" :to="{ name: 'personals-show', params: { from: $route.params.from, to: $route.params.to }}">
        Person
      </v-tab>
      <v-tab key="projects" :to="{ name: 'personals-show-projects', params: { from: $route.params.from, to: $route.params.to }}">
        Projects
      </v-tab>
      <v-tab key="time_tracking" :to="{ name: 'personals-show-time_tracking', params: { from: $route.params.from, to: $route.params.to }}">
        Zeiterfassung
      </v-tab>
      <v-tab key="capacity" :to="{ name: 'personals-show-capacity', params: { from: $route.params.from, to: $route.params.to }}">
        Soll-Ist
      </v-tab>
      <v-tab key="holidays" :to="{ name: 'personals-show-holidays'}">
        Urlaub
      </v-tab>
    </v-tabs>
    <NuxtChild />
  </div>
</template>
<script>
export default {
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      item: {}
    }
  },
  async fetch () {
    this.item = await this.$personalApiService.getById(this.index)
  }
}
</script>
