<template>
  <div class="report__personal-show">
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          test1
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
