<template>
  <div>
    <reports-tabs />
    <v-container>
      <v-row>
        <v-col cols="12">
          <table-server
            :headers="headers"
            :service="service"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>

export default {
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
    headers () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'title'
        },
        {
          text: 'Type',
          align: 'left',
          sortable: false,
          value: 'type.title'
        },
        {
          text: 'Category',
          align: 'left',
          sortable: false,
          value: 'category.title'
        },
        {
          text: '',
          align: 'right',
          value: 'action',
          sortable: false,
          name: 'action'
        }
      ]
    },
    service () {
      return this.$projectApiService
    }
  },
  methods: {
  }
}
</script>
