<template>
  <div>
    <reports-tabs />
    <v-container>
      <v-row>
        <v-col cols="12" md="8" lg="10">
          <!--
          <v-tabs background-color="transparent">
            <v-tab>
              Holidays
            </v-tab>
            <v-tab>
              Soll Ist & Verrechenbarkeit
            </v-tab>
          </v-tabs>
          -->
        </v-col>
        <v-col cols="12" md="4" lg="2">
          <reports-personal-years />
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headers"
            :items="items"
            item-key="id"
            mobile-breakpoint="0"
            class="elevation-1"
            :search="term"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDescending"
            :options.sync="options"
            :server-items-length="total"
            :items-per-page="itemsPerPage"
            :loading="isLoading"
            :footer-props="{
              showFirstLastPage: true,
              itemsPerPageOptions: itemsPerPageOptions,
              firstIcon: 'mdi-arrow-collapse-left',
              lastIcon: 'mdi-arrow-collapse-right',
              prevIcon: 'mdi-minus',
              nextIcon: 'mdi-plus'
            }"
          >
            <template #top>
              <v-text-field
                v-model="term"
                :label="$t('Search')"
                class="mx-4"
              />
            </template>

            <template #item.january="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(0, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(0, item) }} h<br>
                Total time: {{ getSlotTotalTime(0, item) }} h
              </v-tooltip>
            </template>
            <template #item.february="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(1, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(1, item) }} h<br>
                Total time: {{ getSlotTotalTime(1, item) }} h
              </v-tooltip>
            </template>
            <template #item.march="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(2, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(2, item) }} h<br>
                Total time: {{ getSlotTotalTime(2, item) }} h
              </v-tooltip>
            </template>
            <template #item.april="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(3, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(3, item) }} h<br>
                Total time: {{ getSlotTotalTime(3, item) }} h
              </v-tooltip>
            </template>
            <template #item.may="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(4, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(4, item) }} h<br>
                Total time: {{ getSlotTotalTime(4, item) }} h
              </v-tooltip>
            </template>
            <template #item.june="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(5, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(5, item) }} h<br>
                Total time: {{ getSlotTotalTime(5, item) }} h
              </v-tooltip>
            </template>
            <template #item.july="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(6, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(6, item) }} h<br>
                Total time: {{ getSlotTotalTime(6, item) }} h
              </v-tooltip>
            </template>
            <template #item.august="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(7, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(7, item) }} h<br>
                Total time: {{ getSlotTotalTime(7, item) }} h
              </v-tooltip>
            </template>
            <template #item.september="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(8, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(8, item) }} h<br>
                Total time: {{ getSlotTotalTime(8, item) }} h
              </v-tooltip>
            </template>
            <template #item.october="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(9, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(9, item) }} h<br>
                Total time: {{ getSlotTotalTime(9, item) }} h
              </v-tooltip>
            </template>
            <template #item.november="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(10, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(10, item) }} h<br>
                Total time: {{ getSlotTotalTime(10, item) }} h
              </v-tooltip>
            </template>
            <template #item.december="{ item }">
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <span
                    v-bind="attrs"
                    v-on="on"
                  >{{ getSlotValue(11, item) }}</span>
                </template>
                Soll: {{ getSlotHoursSoFar(11, item) }} h<br>
                Tracked time: {{ getSlotTotalTime(11, item) }} h
              </v-tooltip>
            </template>

            <template #item.action="{ item }">
              <v-btn icon :to="{ name: 'projects-show', params: { show: item.id }}" nuxt>
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import listingMixin from '@/mixins/listing.mixin'

export default {
  components: {},
  mixins: [listingMixin],

  data () {
    return {
      months: ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
    }
  },
  computed: {
    headers () {
      const data = [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'name'
        }]

      this.months.forEach((item) => {
        data.push({
          text: item.substr(0, 1).toUpperCase(),
          align: 'center',
          sortable: false,
          value: item,
          width: 70
        })
      })

      data.push({
        text: 'Actions',
        align: 'right',
        value: 'action',
        sortable: false,
        name: 'action'
      })

      return data
    }
  },
  methods: {
    getSlotValue (monthId, item) {
      const report = item.report[monthId]
      if (report) {
        return parseInt(report.effectivity?.real)
      } else {
        return 0
      }
    },

    getSlotTotalTime (monthId, item) {
      const report = item.report[monthId]
      if (report) {
        return parseInt(report?.hoursTracked?.total) || 0
      } else {
        return 0
      }
    },
    getSlotHoursSoFar (monthId, item) {
      const report = item.report[monthId]
      if (report) {
        return parseInt(report?.hoursSoFar) || 0
      } else {
        return 0
      }
    },

    getList () {
      this.loading.items = true

      const params = this.getListingParams()

      this.$projectApiService.getReportList(params)
        .then((data) => {
          this.items = data.items
          this.total = data.total
          this.loading.items = false
        })
    }
  }
}
</script>
