<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="drawer"
    app
    clipped
    :mini-variant="mini"
    mini-variant-width="90"
    mobile-breakpoint="991"
  >
    <v-divider />
    <v-list dense>
      <template v-for="link in links">
        <v-row v-if="link.heading" :key="link.heading" align="center">
          <v-col v-if="!mini" cols="12">
            <v-subheader v-if="link.heading">
              {{ link.heading }}
            </v-subheader>
          </v-col>
        </v-row>
        <v-list-group
          v-else-if="link.children"
          :key="link.text"
          v-model="link.model"
          :prepend-icon="link.model ? 'mdi-chevron-up' : 'mdi-chevron-down'"
          append-icon=""
        >
          <template #activator>
            <v-list-item-content>
              <v-list-item-title>
                {{ link.text }}
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item v-for="child in link.children" :key="child" dense link>
            <v-list-item-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t(child.text) }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item
          v-else
          :key="link.text"
          link
          :to="link.to"
          :disabled="isDisabled(link)"
        >
          <v-list-item-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t(link.text) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapMutations } from 'vuex'

export default {
  data: () => ({
    links: [
      {
        to: '/',
        icon: 'mdi-view-dashboard',
        text: 'Dashboard'
      },
      {
        to: '/personals',
        icon: 'mdi-microsoft-teams',
        text: 'Personal'
      },
      {
        to: '/teams',
        icon: 'mdi-microsoft-teams',
        text: 'Teams'
      },
      {
        to: '/companies',
        icon: 'mdi-microsoft-teams',
        text: 'Companies'
      },
      {
        to: '/projects',
        icon: 'mdi-microsoft-teams',
        text: 'Projects'
      },
      {
        to: '/reports/personal',
        icon: 'mdi-microsoft-teams',
        text: 'Reports'
      },
      {
        heading: 'Administration'
      },
      {
        to: '/settings/countries',
        icon: 'mdi-microsoft-teams',
        text: 'Countries'
      }
      /*
      {
        to: '/calculator',
        icon: 'mdi-timer',
        text: 'calculator'
      },
      {
        to: '/projects',
        icon: 'mdi-folder-zip',
        text: 'Projects'
      },
      {
        to: '/company',
        icon: 'mdi-compass',
        text: 'Companies'
      },
      {
        to: '/user',
        icon: 'mdi-account-multiple',
        text: 'Members'
      },
      {
        to: '/team',
        icon: 'mdi-microsoft-teams',
        text: 'Teams'
      },
      */
    ],
    mini: false,
    responsive: false
  }),
  computed: {
    drawer: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    }
  },
  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },
  methods: {
    ...mapMutations('app', ['setDrawer']),
    isDisabled (link) {
      return !!(link.depend && !this.selectedAction)
    },
    onResponsiveInverted () {
      this.responsive = window.innerWidth < 991
    }
  }
}
</script>
