<template>
  <v-app-bar
    id="core-toolbar"
    app
    clipped-left
    clipped-right
    style="z-index: 14"
    scroll-target="#main"
  >
    <div class="v-toolbar-title">
      <v-toolbar-title class="font-weight-light text-general">
        <v-app-bar-nav-icon class="default v-btn--simple" icon @click.stop="onClickBtn">
          <v-icon>mdi-menu</v-icon>
        </v-app-bar-nav-icon>
      </v-toolbar-title>
    </div>

    <v-spacer />
    <v-toolbar-items>
      <v-flex align-center layout py-2>
        <!--
        <v-btn :to="{ name: 'index'}">
          <v-icon color>mdi-home</v-icon>
        </v-btn>
        <v-btn :to="{ name: 'index'}">
          <v-icon color>mdi-account</v-icon>
        </v-btn>
        -->
        <v-btn icon @click="logout()">
          <v-icon>mdi-power</v-icon>
        </v-btn>
      </v-flex>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data: () => ({
    title: '',
    responsive: false,
    responsiveInput: false
  }),
  watch: {
    $route (val) {
      this.title = val.meta.name
    }
  },
  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
    this.title = this.$route.meta.name
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },

  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
    refreshToken () {
      this.$auth.refreshTokens()
    },
    onClickBtn () {
      this.setDrawer(!this.$store.state.app.drawer)
    },
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
        this.responsiveInput = false
      } else {
        this.responsive = false
        this.responsiveInput = true
      }
    },
    logout () {
      this.$auth.logout()
      this.$auth.strategy.token.reset()
      this.$router.go(decodeURIComponent('/logout'))
    }
  }
}
</script>
