<template>
  <transition name="notifications-slide-fade">
    <div v-if="notifications.length" :style="notificationsStyle" class="notifications">
      <transition-group name="notifications-slide-fade">
        <core-notification-message
          v-for="(notification, index) in notifications"
          :key="notification.uuid"
          :appearance="notification.system ? 'system' : 'notification'"
          :class="['notification-message__notification--' + index, 'notification-message__alert']"
          :closable="true"
          :notification-index="notification.uuid"
          :title="notification.title"
          :variant="notification.variant"
          @close="onClose(notification)"
        >
          <div slot="default">
            <span>{{ notification.message }}</span>
          </div>

          <template #actions>
            <template v-for="(action, nIndex) in notification.actions">
              <v-button :key="nIndex" :disable="action.disabled" @click="handleAction(action, notification)">
                {{ action.label }}
              </v-button>
            </template>
          </template>
        </core-notification-message>
      </transition-group>
    </div>
  </transition>
</template>
<script>
/**
   * @private
   * @description
   * Wrapper element for all notifications of the administration.
   * @status ready
   * @example-type code-only
   */
export default {
  props: {
    position: {
      type: String,
      required: false,
      default: 'topRight',
      validator (value) {
        if (!value.length) {
          return true
        }
        return ['topRight', 'bottomRight'].includes(value)
      }
    },
    notificationsGap: {
      type: String,
      default: '20px'
    },
    notificationsTopGap: {
      type: String,
      default: '165px'
    }
  },

  computed: {
    timeout () {
      return 4000
    },
    snackbar () {
      return false
    },
    color () {
      return ''
    },
    mode () {
      return ''
    },
    notifications () {
      return this.$store.getters['notification/getGrowlNotifications']
    },

    notificationsStyle () {
      let notificationsGap = this.notificationsGap

      if (`${parseInt(notificationsGap, 10)}` === notificationsGap) {
        notificationsGap = `${notificationsGap}px`
      }

      if (this.position === 'bottomRight') {
        return {
          top: 'auto',
          right: notificationsGap,
          bottom: notificationsGap,
          left: 'auto'
        }
      }

      return {
        top: this.notificationsTopGap,
        right: notificationsGap,
        bottom: 'auto',
        left: 'auto'
      }
    }
  },

  methods: {
    onClose (notification) {
      this.$store.commit('notification/removeGrowlNotification', notification)
    },

    handleAction (action, notification) {
      if (action.route) {
        this.$router.push(action.route)
      }

      this.onClose(notification)
    }
  }
}
</script>
<style lang="scss">
  $notifications-gap: 20px;
  $notifications-z-index: 9000;
  $notifications-width: 400px;
  $notifications-transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);

  .notifications {
    position: fixed;
    top: $notifications-gap;
    right: $notifications-gap;
    width: $notifications-width;
    max-width: calc(100% - 40px);
    z-index: $notifications-z-index;
    max-height: calc(100% - #{$notifications-gap});
    overflow: hidden;
  }

  // Vue.js Transitions
  .notifications-slide-fade-enter-active {
    transition: all $notifications-transition;
  }

  // Vue.js Transitions
  .notifications-slide-fade-leave-active {
    transition: all $notifications-transition;
  }

  // Vue.js Transitions
  .notifications-slide-fade-enter,
  .notifications-slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
  }
</style>
