<template>
  <div class="notification-message" :class="alertClasses" role="alert">
    <slot name="customIcon">
      <v-icon
        v-if="showIcon"
        size="30px"
        class="notification-message__icon"
      >
        {{ alertIcon }}
      </v-icon>
    </slot>
    <div class="notification-message__body">
      <div v-if="title" class="notification-message__title">
        {{ title }}
      </div>

      <div class="notification-message__message">
        <slot />
      </div>
    </div>
    <div v-if="hasActionSlot" class="notification-message__actions">
      <slot name="actions" />
    </div>
    <v-button
      v-if="closable"
      class="notification-message__close"
      aria-label="Schließen"
      title="Schließen"
      @click.prevent="$emit('close', notificationIndex)"
    >
      <v-icon small>
        mdi-close
      </v-icon>
    </v-button>
  </div>
</template>
<script>
export default {

  props: {
    variant: {
      type: String,
      default: 'info',
      validValues: ['info', 'warning', 'error', 'success'],
      validator (value) {
        return ['info', 'warning', 'error', 'success'].includes(value)
      }
    },
    appearance: {
      type: String,
      default: 'default',
      validValues: ['default', 'notification', 'system'],
      validator (value) {
        return ['default', 'notification', 'system'].includes(value)
      }
    },
    title: {
      type: String,
      required: false,
      default: ''
    },
    showIcon: {
      type: Boolean,
      required: false,
      default: true
    },
    closable: {
      type: Boolean,
      required: false,
      default: false
    },
    notificationIndex: {
      type: String,
      required: false,
      default: ''
    }
  },
  computed: {
    alertClasses () {
      return [
          `notification-message--${this.variant}`,
          `notification-message--${this.appearance}`,
          {
            'notification-message--no-icon': !this.showIcon,
            'notification-message--closable': this.closable,
            'notification-message--actions': this.hasActionSlot
          }
      ]
    },

    alertIcon () {
      const iconConfig = {
        info: 'mdi-information-outline',
        warning: 'mdi-cancel',
        error: 'mdi-cancel',
        success: 'mdi-checkbox-marked-circle-outline'
      }

      return iconConfig[this.variant] || 'alarm_outline'
    },

    hasActionSlot () {
      return !!this.$slots.actions
    }
  }
}
</script>
<style lang="scss">
  $notification-message-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  $notification-message-size-close: 40px;
  $color-gray-50: #F9FAFB;
  $color-gray-100: #F0F2F5;
  $color-gray-200: #E0E6EB;
  $color-gray-300: #D1D9E0;
  $color-darkgray-50: #667F99;
  $color-darkgray-100: #5C738A;
  $color-darkgray-200: #52667A;
  $color-darkgray-300: #47596B;
  $color-darkgray-400: #3D4C5C;
  $color-darkgray-500: #33404D;
  $color-darkgray-600: #29333D;
  $color-darkgray-700: #1F262E;
  $color-darkgray-800: #14191F;
  $color-darkgray-900: #0A0D0F;
  $color-white: #fff;
  $border-radius-default: 3px;
  $font-size-default: 16px;
  $font-size-large: 18px;
  $font-size-small: 14px;
  $warning: #FF9800;
  $info: #03A9F4;
  $negative: #F44336;
  $positive: #4CAF50;

  .notification-message {
    border: 1px solid $color-gray-300;
    border-radius: $border-radius-default;
    color: $color-darkgray-200;
    background-color: $color-white;
    text-align: left;
    position: relative;
    margin: 0 auto 20px;
    font-size: $font-size-small;

    .notification-message__body {
      padding: 15px 15px 15px 55px;
    }

    &.notification-message--no-icon {
      padding: 15px 30px;
    }

    .notification-message__icon {
      color: $color-gray-300;
      position: absolute;
      display: block;
      left: 15px;
      top: 15px;
    }

    .notification-message__close {
      width: $notification-message-size-close;
      height: $notification-message-size-close;
      line-height: $notification-message-size-close;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      padding: 0;
      margin: 0;
      text-align: center;
      background: none;
      border: 0 none;
      outline: none;
      cursor: pointer;
    }

    .notification-message__title {
      font-size: $font-size-small;
      margin-bottom: 8px;
      display: block;
      font-weight: bold;
    }

    .notification-message__message {
      font-size: $font-size-small;
      p {
        margin-bottom: 0;
      }
    }

    .notification-message__actions {
      border-top: 1px solid $color-gray-300;
      display: flex;
      flex-wrap: wrap;

      .button {
        border: 0;
        height: 40px;
        background: none;
        border-radius: 0;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        font-weight: 500;

        &:not(:last-child) {
          border-right: 1px solid $color-gray-300;
        }

        &:hover {
          background-color: $color-white;
        }
      }
    }

    &.notification-message--closable {
      .notification-message__body {
        padding-right: $notification-message-size-close;
      }
    }

    &.notification-message--notification {
      box-shadow: $notification-message-box-shadow;
      border: 1px solid $color-gray-300;
      border-left: 4px solid $color-gray-300;
    }

    &.notification-message--warning {
      border-color: $warning;

      &.notification-message--notification {
        border-color: $warning;
      }

      .notification-message__icon,
      .notification-message__close {
        color: $warning;
      }

      .notification-message__actions {
        border-color: $warning;

        .button {
          border-color: $warning;

          &:hover {
            background-color: $warning;
          }
        }
      }
    }

    &.notification-message--error {
      border-color: $negative;

      &.notification-message--notification {
        border-color: $negative;
      }

      .notification-message__icon,
      .notification-message__close {
        color: $negative;
      }

      .notification-message__actions {
        border-color: $negative;

        .button {
          border-color: $negative;

          &:hover {
            background-color: $negative;
          }
        }
      }
    }

    &.notification-message--success {
      border-color: $positive;
      color: $positive;

      &.notification-message--notification {
        border-color: $positive;
      }

      .notification-message__icon,
      .notification-message__close {
        color: $positive;
      }

      .notification-message__actions {
        border-color: $positive;

        .button {
          border-color: $positive;

          &:hover {
            background-color: $positive
          }
        }
      }
    }

    &.notification-message--info {
      border-color: $info;

      &.notification-message--notification {
        border-color: $info;
      }

      .notification-message__icon,
      .notification-message__close {
        color: $info;
      }

      .notification-message__actions {
        border-color:$info;

        .button {
          border-color:$info;

          &:hover {
            background-color:$info;
          }
        }
      }
    }

    &.notification-message--notification {
      background-color: $color-gray-100;

      .notification-message__actions {
        border-color: $color-gray-300;

        .button {
          border-color: $color-gray-300;

          &:hover {
            background-color: $color-gray-100;
          }
        }
      }
    }

    &.notification-message--system {
      color: $color-white;
      background: $color-darkgray-500;
      border: 1px solid $color-darkgray-200;
      box-shadow: none;

      .notification-message__actions {
        border-color: $color-darkgray-50;

        .button {
          color: $color-gray-300;
          border-color: $color-darkgray-50;

          &:hover {
            background-color: lighten($color-darkgray-500, 6%);
          }

          &:active {
            background-color: lighten($color-darkgray-500, 8%);
          }
        }
      }
    }
  }

</style>
