<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <table-server
          :headers="headers"
          :service="service"
        >
          <!--
          <template #item.action="{ item }">
            <v-btn icon :to="{ name: 'projects-types-edit', params: { idex: item.id }}" nuxt>
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </template>
          -->
        </table-server>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
    headers () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'title'
        },
        {
          text: 'type',
          align: 'left',
          sortable: false,
          value: 'type'
        },
        {
          text: '',
          align: 'right',
          value: 'action',
          sortable: false,
          name: 'action'
        }
      ]
    },
    service () {
      return this.$projectApiService
    }
  },
  methods: {
  }
}
</script>

<style>
</style>
