<template>
  <v-container>
    <v-row>
      <v-col class="py-3">
        <v-text-field
          :value="type"
          readonly
          :label="$t('Type')"
          class="mx-4"
        />
      </v-col>

      <v-spacer />
      <v-col>
        <date-picker :value="datePickerDates" @input="onDateChange" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <v-card class="fill-height">
          <v-card-title class="text-h5">
            Zeiterfassung
          </v-card-title>
          <v-card-text>
            <div class="text-h6 text-center font-weight-light">
              {{ totalTrackedTime }} h
              <template v-if="needBudget">
                /
                {{ report.estimate }} h
              </template>
            </div>

            <small>Verrechenbar
              <span class="text--green">{{ billableTrackedTime }} h</span>
              <br>Nicht verrechenbar
              <span class="text--yellow">{{ notBillableTrackedTime }} h</span>
            </small>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card class="fill-height">
          <v-card-title>Effektivität</v-card-title>
          <v-card-text>
            <small>Gesamtarbeitszeit</small><br>
            <span
              class="text-h5 text-center font-weight-bold"
            >
              {{ effectivity.total }} %
            </span>
            <br><br>
            <small>Realarbeit</small><br>
            <span
              class="text-h5 text-center font-weight-bold"
              :class="{'success--text': effectivity.real >= 90, 'red--text': effectivity.real < 50, 'info--text': effectivity.real < 90}"
            >
              {{ effectivity.real }} %
            </span>
          </v-card-text>
          <v-card-text>
            <template v-if="needBudget">
              Zeit verfügbar: {{ report.estimate }} h<br>
            </template>
            Zeit verbraucht: {{ totalTrackedTime }} h
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Stunden nach Tickets</v-card-title>
          <v-card-text>
            <v-data-table
              dense
              :headers="ticketHeader"
              :items="report.tracked_by_tickets"
              :sort-by="['record_date']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>

              <template #item.updated_at="{ item }">
                {{ getUserfriendlyDate(item.updated_at) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Stunden nach Typ</v-card-title>
          <v-card-text>
            <v-data-table
              :loading="loading"
              :headers="typeHeader"
              :items="report.tracked_by_type"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>

              <template #item.updated_at="{ item }">
                {{ getUserfriendlyDate(item.updated_at) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import moment from 'moment'
import reportDateMixin from '@/mixins/reportdate.mixin'
export default {
  mixins: [reportDateMixin],
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      typeId: 0,
      loading: true,
      chart: {
        accountability: {
          labels: ['billable', 'not billable'],
          series: []
        }
      },

      report: {
        tracked_by_projects: [],
        tracked_by_type: []
      }
    }
  },
  computed: {
    needBudget () {
      switch (this.project?.type?.id) {
        case 71: // monthly budget
        case 83: // fixed budget
          return true
        case 84: // budget on demand
        case 85: // no budget
          return false
      }
      return false
    },
    isFixedProject () {
      return this.project?.type?.id === 83 || false
    },
    type () {
      return this.project?.type?.name || ''
    },
    ticketHeader () {
      return [
        {
          text: this.$t('Id'),
          align: 'left',
          width: '120px',
          sortable: true,
          value: 'task_id'
        },
        {
          text: this.$t('name'),
          align: 'left',
          sortable: true,
          value: 'task_name'
        },
        {
          text: 'Datum',
          align: 'left',
          sortable: true,
          width: '140px',
          value: 'record_date'
        },
        {
          text: this.$t('Total'),
          align: 'right',
          sortable: true,
          width: '120px',
          value: 'total'
        }
      ]
    },
    typeHeader () {
      return [
        {
          text: this.$t('name'),
          align: 'left',
          sortable: true,
          value: 'type_name'
        },
        {
          text: this.$t('Total'),
          align: 'right',
          sortable: true,
          width: '100px',
          value: 'total'
        }
      ]
    },
    totalTrackedTime () {
      return this.report?.hours_tracked || 0
    },
    billableTrackedTime () {
      if (this.report.estimate > this.totalTrackedTime) {
        return this.report.estimate
      } else {
        return this.totalTrackedTime
      }
    },
    notBillableTrackedTime () {
      return this.report.estimate < this.totalTrackedTime ? this.report.estimate - this.totalTrackedTime : 0
    },
    effectivity () {
      let effectivity = 0
      if (!this.loading) {
        effectivity = this.report.effectivity
      }

      return effectivity
    }
  },
  methods: {
    getUserfriendlyDate (date) {
      return moment(date).format('DD.MM.YY')
    },
    fetchReportData () {
      this.loading = true
      this.$projectApiService.getReportOverviewById(this.index, {
        from: this.reportdate.from,
        to: this.reportdate.to
      }).then((report) => {
        this.report = report
        this.loading = false
      })
    }
  }
}
</script>
