<template>
  <form-project :id="index" edit />
</template>

<script>
export default {
  async asyncData ({ params }) {
    const index = +params.index// When calling /abc the slug will be "abc"
    return { index }
  }
}
</script>
