// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.v-application .v-data-table > .v-data-table__wrapper a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
