<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Personal </v-card-title>

          <table-server
            :headers="headers"
            :service="service"
          >
            <template #item.action="{ item }">
              <v-btn icon :to="{ name: 'personals-edit', params: { index: item.id }}" nuxt>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon :to="{ name: 'personals-show', params: { show: item.id }}" nuxt>
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </template>
          </table-server>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>

export default {
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
    headers () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'E-Mail',
          align: 'left',
          sortable: true,
          value: 'email'
        },
        {
          text: 'Weekly hours',
          align: 'left',
          sortable: true,
          value: 'weekly_work_hours'
        },
        {
          text: '',
          align: 'right',
          value: 'action',
          sortable: false,
          name: 'action'
        }
      ]
    },
    service () {
      return this.$personalApiService
    }
  },
  methods: {
  }
}
</script>
