<template>
  <v-container fill-height class="loginOverlay">
    <v-layout align-center justify-center fill-height>
      <v-card class="login__container fill-height">
        <v-container fill-height class="pa-0">
          <v-row class="pa-0 fill-height">
            <v-col cols="12" md="6" class="justify-center d-flex flex-column">
              <img :src="logo" style="max-height: 100px; width: auto">
            </v-col>
            <v-col cols="12" md="6" class="justify-center d-flex flex-column">
              <v-card flat class="pa-4 pa-md-8">
                <v-card-text class="">
                  <v-alert
                    v-if="errors"
                    border="right"
                    colored-border
                    type="error"
                    elevation="2"
                  >
                    e-Mail or Password wrong!
                  </v-alert>

                  <v-form ref="form" v-model="valid" @submit.prevent="submit()">
                    <v-text-field
                      v-model="email"
                      outlined
                      :label="$t('Enter your e-mail address')"
                      :rules="emailRules"
                      required
                    />
                    <v-text-field
                      v-model="password"
                      label="Enter your password"
                      min="8"
                      outlined
                      :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="e1 ? 'password' : 'text'"
                      :rules="passwordRules"
                      counter
                      required
                      @click:append="() => (e1 = !e1)"
                    />
                    <v-layout justify-space-between>
                      <v-btn type="submit" :class=" { 'primary white--text' : valid, disabled: !valid }">
                        Login
                      </v-btn>
                    </v-layout>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import logo from '~/static/logo.svg'
export default {
  layout: 'plain',
  auth: 'guest',
  data () {
    return {
      logo,
      valid: false,
      errors: false,
      e1: true,
      // password: '',
      password: '',
      passwordRules: [
        v => !!v || 'Password is required'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ]
    }
  },
  methods: {

    async submit () {
      this.errors = false
      if (this.$refs.form.validate()) {
        await this
          .login()
          .then((r) => {
            this.errors = false
          })
          .catch((err) => {
            if (err) {
              this.errors = true
            }
          })
      }
    },
    clear () {
      this.$refs.form.reset()
    },
    async login () {
      const me = this
      const bodyFormData = new FormData()
      bodyFormData.append('email', me.email)
      bodyFormData.append('password', me.password)

      return await me.$auth.loginWith('laravelJWT', {
        data: bodyFormData
      })
    }
  }
}
</script>

<style>

.login__container {
  width: 1120px;
  min-height: 590px;
  max-height: 590px;
}

.login__container #abn-logo {
  max-width: 300px;
  margin: 0 auto;
}
</style>
