<template>
  <div class="form">
    <v-toolbar
      class="form-country__toolbar"
    >
      <v-toolbar-title>Country</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-flex align-center layout py-2>
          <v-btn icon :disabled="isLoading" @click="save()">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </v-flex>
      </v-toolbar-items>
    </v-toolbar>
    <v-container class="pt-16" :loading="isLoading">
      <v-form ref="form" v-model="valid" :lazy-validation="true" :disabled="isLoading">
        <v-card flat class="mb-8 mt-4">
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.name"
                  :label="$t('Name')"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-form>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <v-card-title>Feiertage</v-card-title>
            <v-card-text>
              <v-data-table
                :headers="vacationHeader"
                :items="dayOffs"
                :sort-by="['start_date']"
                :sort-desc="[true]"
                mobile-breakpoint="0"
                :loading="isLoading"
                class="elevation-0"
                hide-default-footer
                :items-per-page="9999999"
              >
                <template #item.name="{ item }">
                  {{ item.name }}
                  <!--
                  <nuxt-link :to="{ name: 'projects-show', params: { show: item.project_id }}">
                    {{ item.name }}
                  </nuxt-link>
                  -->
                </template>
                <template #item.start_date="{ item }">
                  {{ moment(item.start_date).format('D.M.Y') }}
                </template>
                <template #item.end_date="{ item }">
                  {{ moment(item.end_date).format('D.M.Y') }}
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import moment from 'moment'
import formMixin from '~/mixins/form.mixin'

export default {
  mixins: [formMixin],
  data: () => ({
    valid: true,
    errorFields: ['name'],
    form: {
      name: ''
    },
    dayOffs: [],
    loading: {
      item: false
    },
    rules: {
      title: [
        v => !!v || 'Name ist ein Pflichtfeld',
        v => (v && v.length >= 4) || 'Name muss mindestens 4 Zeichen haben'
      ]
    }
  }),
  computed: {
    vacationHeader () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Start Date',
          align: 'left',
          sortable: false,
          width: '150px',
          value: 'start_date'
        },
        {
          text: 'End Date',
          align: 'left',
          width: '150px',
          sortable: false,
          value: 'end_date'
        }
      ]
    }
  },
  mounted () {
    const self = this
    if (self.edit && self.id) {
      self.loading.item = true

      self.load().then((result) => {
        self.dayOffs = result.day_offs
        delete self.form.day_offs
        self.loading.item = false
      })
    }
  },
  methods: {
    moment (date) {
      return moment(date)
    },
    save () {
      const self = this
      self.loading.item = true
      if (self.edit) {
        self.update().then((result) => {
          self.form = result
          self.loading.item = false
        })
      } else {
        self.store().then((item) => {
          self.loading.item = false
          self.$router.push({ name: 'projects-edit', params: { index: item.id } })
        })
      }
    },
    getApiService () {
      return this.$countryApiService
    }
  }
}
</script>
<style>
.form-country__toolbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

@media (min-width: 991px) {
  .form-country__toolbar {
    width: calc(100% - 256px);
  }
}
</style>
