<template>
  <div class="form-article">
    <v-toolbar
      class="form-article__toolbar"
    >
      <v-toolbar-title>Personal</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-flex align-center layout py-2>
          <v-btn icon :disabled="isLoading" @click="save()">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </v-flex>
      </v-toolbar-items>
    </v-toolbar>
    <v-container class="pt-16" :loading="isLoading">
      <v-form ref="form" v-model="valid" :lazy-validation="true" :disabled="isLoading">
        <v-card flat class="mb-8 mt-4">
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.name"
                  :label="$t('Name')"
                  disabled
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.email"
                  :label="$t('E-Mail')"
                  disabled
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model.number="form.weekly_work_hours"
                  prefix="h"
                  type="number"
                  label="Weekly Hours"
                  numbers
                  :disabled="isLoading"
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model.number="form.vacation"
                  prefix="h"
                  type="number"
                  :label="$t('Vacation')"
                  numbers
                  :disabled="isLoading"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <!--
        <v-card>
          <v-card-title>Urlaubstage</v-card-title>
          <v-card-text>
            <table-server
              :headers="holiday.header"
              :service="holiday.service"
            >
              <template #item.action="{ item }">
                <v-btn icon :to="{ name: 'personals-edit', params: { index: item.id }}" nuxt>
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </template>
            </table-server>
          </v-card-text>
        </v-card>
        -->
      </v-form>
    </v-container>
  </div>
</template>
<script>
import formMixin from '~/mixins/form.mixin'

export default {
  mixins: [formMixin],
  data: () => ({
    valid: true,
    errorFields: ['name'],
    form: {
      name: '',
      email: '',
      weekly_work_hours: 0,
      vacation: 0
    },
    loading: {
      item: false
    },
    rules: {
      title: [
        v => !!v || 'Title ist ein Pflichtfeld',
        v => (v && v.length >= 4) || 'Title muss mindestens 4 Zeichen haben'
      ]
    },
    attributes: []
    /*
    holiday: {
      header: [
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'E-Mail',
          align: 'left',
          sortable: true,
          value: 'email'
        },
        {
          text: 'Weekly hours',
          align: 'left',
          sortable: true,
          value: 'weekly_work_hours'
        },
        {
          text: '',
          align: 'right',
          value: 'action',
          sortable: false,
          name: 'action'
        }
      ],
      service: this.$personalHApiService
    }
    */
  }),
  computed: {
    formTitle () {
      return this.editedAttributeIndex === -1 ? 'New Attribute' : 'Edit Attribute'
    }
  },
  mounted () {
    const self = this
    if (self.edit && self.id) {
      self.loading.item = true

      Promise.all([self.load()])
        .then((result) => {
          self.loading.item = false
        })
    }
  },
  methods: {
    onCategoryInput (newVal) {
      this.form.category_ids = newVal
    },
    save () {
      const self = this
      self.loading.item = true
      if (self.edit) {
        self.update().then((result) => {
          self.form = result
          self.loading.item = false
        })
      } else {
        self.store().then((item) => {
          self.loading.item = false
          self.$router.push({ name: 'projects-edit', params: { index: item.id } })
        })
      }
    },
    getApiService () {
      return this.$personalApiService
    }
  }
}
</script>
<style>
.form-article__toolbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

@media (min-width: 991px) {
  .form-article__toolbar {
    width: calc(100% - 256px);
  }
}
</style>
