<template>
  <div class="form-article">
    <v-toolbar
      class="form-article__toolbar"
    >
      <v-toolbar-title>Project</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-flex align-center layout py-2>
          <v-btn icon :disabled="isLoading" @click="save()">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
          <v-btn v-if="edit" icon :to="{ name: 'projects-show', params: { show: id }}" nuxt>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </v-flex>
      </v-toolbar-items>
    </v-toolbar>
    <v-container class="pt-16" :loading="isLoading">
      <v-form ref="form" v-model="valid" :lazy-validation="true" :disabled="isLoading">
        <v-card flat class="mb-8 mt-4">
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="form.name"
                  :label="$t('Name')"
                  disabled
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.type.name"
                  label="Type"
                  disabled
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.category.name"
                  label="Category"
                  disabled
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model.number="form.estimate"
                  prefix="h"
                  type="number"
                  :label="budgetLabel"
                  numbers
                  :disabled="isLoading || budgetNotNeeded"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import formMixin from '~/mixins/form.mixin'

export default {
  mixins: [formMixin],
  data: () => ({
    valid: true,
    errorFields: ['title'],
    form: {
      title: '',
      type: {},
      category: {},
      estimate: 0
    },
    loading: {
      item: false
    },
    rules: {
      title: [
        v => !!v || 'Title ist ein Pflichtfeld',
        v => (v && v.length >= 4) || 'Title muss mindestens 4 Zeichen haben'
      ]
    },
    attributes: []
  }),
  computed: {
    budgetNotNeeded () {
      switch (this.form?.type?.id) {
        case 71: // monthly budget
        case 83: // fixed budget
          return false
        case 84: // budget on demand
        case 85: // no budget
          return true
      }
      return false
    },
    budgetLabel () {
      switch (this.form?.type?.id) {
        case 71: // monthly budget
          return 'monthly budget'
        case 83: // fixed budget
          return 'Fixed budget'
        case 84: // budget on demand
          return 'budget on demand'
        case 85: // no budget
          return 'no budget'
      }
      return 'Budget'
    }
  },
  mounted () {
    const self = this
    if (self.edit && self.id) {
      self.loading.item = true

      Promise.all([self.load()])
        .then((result) => {
          self.loading.item = false
        })
    }
  },
  methods: {
    onCategoryInput (newVal) {
      this.form.category_ids = newVal
    },
    save () {
      const self = this
      self.loading.item = true
      if (self.edit) {
        self.update().then((result) => {
          self.form = result
          self.loading.item = false
        })
      } else {
        self.store().then((item) => {
          self.loading.item = false
          self.$router.push({ name: 'projects-edit', params: { index: item.id } })
        })
      }
    },
    getApiService () {
      return this.$projectApiService
    }
  }
}
</script>
<style>
.form-article__toolbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

@media (min-width: 991px) {
  .form-article__toolbar {
    width: calc(100% - 256px);
  }
}
</style>
