<template>
  <ClientOnly>
    <!-- Use the component in the right place of the template -->
    <tiptap-vuetify
      v-model="value"
      :disabled="disabled"
      :extensions="extensions"
      @keydown="onKeyDown"
    />

    <template #placeholder>
      Loading...
    </template>
  </ClientOnly>
</template>

<script>
// import the component and the necessary extensions
import {
  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  // Strike,
  Underline,
  // Code,
  Paragraph,
  /*
  BulletList,
  OrderedList,
  ListItem,
  Link,
  Blockquote,
  HardBreak,
  HorizontalRule,
  */
  History
} from 'tiptap-vuetify'

export default {
  // specify TiptapVuetify component in "components"
  components: { TiptapVuetify },
  props: {
    content: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    // declare extensions you want to use
    extensions: [
      History,
      // Blockquote,
      // Link,
      Underline,
      // Strike,
      Italic,
      // ListItem,
      // BulletList,
      // OrderedList,
      [
        Heading,
        {
          options: {
            levels: [1, 2, 3]
          }
        }
      ],
      Bold,
      // Code,
      // HorizontalRule,
      Paragraph
      // HardBreak
    ],
    // starting editor's content
    value: ''
  }),
  watch: {
    content (newValue) {
      this.value = newValue
    }
  },
  mounted () {
    this.value = this.content
  },
  methods: {
    onKeyDown () {
      this.$emit('update:content', this.value)
    }
  }
}
</script>
