<template>
  <div class="filemanager">
    <v-toolbar
      class="filemanager__toolbar"
    >
      <v-toolbar-title>Filemanager</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-flex align-center layout py-2 />
      </v-toolbar-items>
    </v-toolbar>
    <v-container class="pt-16" :loading="isLoading">
      <v-row>
        <v-col cols="12" sm="6" md="4" lg="3">
          <v-card>
            <v-treeview
              class="elevation-1 mt-4"
              :value="selectedDirectory"
              activatable
              open-on-click
              :multiple-active="false"
              item-disabled="locked"
              item-text="name"
              item-key="id"
              :items="directoryTree"
              @update:active="onClickDirectory"
            >
              <template #prepend="{ item, open }">
                <v-icon v-if="!item.file">
                  {{ open ? 'mdi-folder-open' : 'mdi-folder' }}
                </v-icon>
                <v-icon v-else>
                  {{ files[item.file] }}
                </v-icon>
              </template>
            </v-treeview>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="8" lg="9">
          <v-data-table
            :headers="fileHeaders"
            :items="files"
            item-key="id"
            mobile-breakpoint="0"
            class="elevation-1 mt-4"
            :search="fileSearch"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDescending"
            :options.sync="fileOptions"
            :server-items-length="totalFiles"
            :items-per-page="itemsPerPage"
            :loading="isLoading"
            :footer-props="{
              showFirstLastPage: true,
              itemsPerPageOptions: itemsPerPageOptions,
              firstIcon: 'mdi-arrow-collapse-left',
              lastIcon: 'mdi-arrow-collapse-right',
              prevIcon: 'mdi-minus',
              nextIcon: 'mdi-plus'
            }"
          >
            <template #item.identifier="{ item }">
              <v-img
                :src="getImage(item)"
                max-height="30"
                max-width="30"
              />
            </template>
            <!--
            <template #item.action="{ item }">
              <v-btn
                icon
                :to="{ name: 'attributes-edit', params: { index: item.id }}"
                nuxt
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </template>
            -->
            <template #top>
              <!--
              <v-text-field
                v-model="fileSearch"
                :label="$t('Search')"
                class="mx-4"
              />-->
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import debounce from 'debounce'

export default {
  data: () => ({
    selectedDirectory: [],
    loading: {
      directories: false,
      files: false
    },
    parentId: 0,
    directories: [],
    files: [],
    totalFiles: 0,
    fileSearch: '',
    fileOptions: {},
    sortBy: 'id',
    sortDescending: false,
    itemsPerPageOptions: [10, 25, 50, 100],
    itemsPerPage: 50
  }),
  computed: {
    fileHeaders () {
      return [
        {
          text: 'Preview',
          align: 'left',
          sortable: false,
          value: 'identifier',
          name: 'identifier',
          width: '50px'
        },
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Type',
          align: 'left',
          sortable: false,
          value: 'extension'
        },
        {
          text: '',
          align: 'right',
          value: 'action',
          name: 'action'
        }
      ]
    },
    directoryTree () {
      const createDirectoryTree = (dataset) => {
        const hashTable = Object.create(null)
        dataset.forEach((item) => {
          hashTable[item.id] = { ...item, children: [] }
        })

        const dataTree = []
        dataset.forEach((item) => {
          if (item.parent_id > 0) {
            hashTable[item.parent_id].children.push(hashTable[item.id])
          } else {
            dataTree.push(hashTable[item.id])
          }
        })
        return dataTree
      }
      return createDirectoryTree(this.directories)
    },
    isLoading () {
      let loading = false
      Object.values(this.loading).forEach((loadState) => {
        if (loadState) {
          loading = true
        }
      })
      return loading
    }
  },
  watch: {
    fileSearch: debounce(function (newVal) {
      this.loadFiles(this.parentId)
    }, 300),
    parentId (newVal) {
      // this.loadDirectory(newVal)
      this.loadFiles(newVal)
    }
  },
  mounted () {
    this.loadDirectory(this.parentId)
    this.loadFiles(this.parentId)
  },
  methods: {
    getImage (item) {
      const url = '/img/' + item.identifier + '?w=30'
      return url
    },
    onClickDirectory (val) {
      this.parentId = val[0]
    },
    loadFiles (parentId = 0) {
      this.$fileApiService.getList({ parentId, page: 1, itemsPerPage: this.itemsPerPage, term: this.fileSearch }).then((result) => {
        this.totalFiles = result.total
        this.files = result.items
      })
    },
    loadDirectory (parentId = 0) {
      this.$directoryApiService.getList({ parentId }).then((result) => {
        this.directories = result.items
      })
    }
  }
}
</script>
<style>
.filemanager__toolbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

@media (min-width: 991px) {
  .filemanager__toolbar {
    width: calc(100% - 256px);
  }
}
</style>
