<template>
  <v-tabs centered>
    <v-tab key="company" disabled :to="{ name: 'reports-company'}">
      Company
    </v-tab>
    <v-tab key="projects" :to="{ name: 'reports-projects'}">
      Projects
    </v-tab>
    <v-tab key="time_tracking" disabled :to="{ name: 'reports-time_tracking'}">
      Zeiterfassung
    </v-tab>
    <v-tab key="capacity" disabled :to="{ name: 'reports-capacity'}">
      Kapazität
    </v-tab>
    <v-tab key="personal" :to="{ name: 'reports-personal'}">
      personal
    </v-tab>
  </v-tabs>
</template>
