<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <table-server
          :headers="headers"
          :service="service"
        >
          <template #item.action="{ item }">
            <v-btn icon :to="{ name: 'settings-countries-edit', params: { edit: item.id }}" nuxt>
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </template>
        </table-server>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  computed: {
    headers () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: '',
          align: 'right',
          value: 'action',
          sortable: false,
          width: '140px',
          name: 'action'
        }
      ]
    },
    service () {
      return this.$countryApiService
    }
  }
}
</script>
