<template>
  <div v-if="!loading">
    <apexchart
      type="pie"
      width="100%"
      style="width: 100%"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>
<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: true,
      required: true
    },
    series: {
      type: Array,
      default: () => {
        return []
      },
      required: true
    },
    labels: {
      type: Array,
      default: () => {
        return []
      },
      required: true
    }
  },
  data () {
    return {
      chartOptions: {
        chart: {
          height: 250,
          type: 'pie'
        },
        labels: this.labels,
        legend: {
          position: 'bottom'
        },
        tooltip: {
          enabled: true,
          offsetY: 0
        }
      }
    }
  }
}
</script>
