<template>
  <v-select
    v-model="date"
    :items="years"
    disabled
  />
</template>

<script>
export default {
  data: () => ({
    date: 2021,
    menu: false
  }),
  computed: {
    years () {
      const years = []
      const currentYear = parseInt((new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 4))
      for (let i = currentYear; i > 2015; i--) {
        years.push(i)
      }

      return years
    }
  },
  methods: {
    changeYear (year) {
      this.date = year
    }
  }
}
</script>
