<template>
  <v-container>
    <v-row>
      <v-spacer />
      <v-col>
        <date-picker :value="datePickerDates" @input="onDateChange" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <v-card class="fill-height">
          <v-card-title class="text-h5">
            Zeiterfassung
          </v-card-title>
          <v-card-text>
            <div class="text-h6 text-center font-weight-light">
              {{ totalTrackedTime }} h
              <template v-if="needBudget">
                /
                {{ report.estimate }} h
              </template>
            </div>

            <small>Verrechenbar
              <span class="text--green">{{ billableTrackedTime }} h</span>
              <br>Nicht verrechenbar
              <span class="text--yellow">{{ notBillableTrackedTime }} h</span>
            </small>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card class="fill-height">
          <v-card-title>Effektivität</v-card-title>
          <v-card-text>
            <small>Gesamtarbeitszeit</small><br>
            <span
              class="text-h5 text-center font-weight-bold"
            >
              {{ totalEffectivity }} %
            </span>
            <br><br>
            <small>Realarbeit</small><br>
            <span
              class="text-h5 text-center font-weight-bold"
              :class="{'success--text': realEffectivity >= 90, 'red--text': realEffectivity < 50, 'info--text': realEffectivity < 90}"
            >
              {{ realEffectivity }} %
            </span>
          </v-card-text>
          <v-card-text>
            <template v-if="needBudget">
              Zeit verfügbar: {{ report.estimate }} h<br>
            </template>
            Zeit verbraucht: {{ totalTrackedTime }} h
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Stunden nach Project</v-card-title>
          <v-card-text>
            <v-data-table
              :headers="projectHeader"
              :items="report.projects"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.project_name="{ item }">
                <nuxt-link :to="{ name: 'projects-show', params: { show: item.project_id }}">
                  {{ item.project_name }}
                </nuxt-link>
              </template>
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>

              <template #item.updated_at="{ item }">
                {{ getUserfriendlyDate(item.updated_at) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Stunden nach Typ</v-card-title>
          <v-card-text>
            <v-data-table

              :headers="typeHeader"
              :items="report.types"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>

              <template #item.updated_at="{ item }">
                {{ getUserfriendlyDate(item.updated_at) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Stunden nach Tasks</v-card-title>
          <v-card-text>
            <v-data-table
              :headers="ticketHeader"
              :items="report.tasks"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>

              <template #item.updated_at="{ item }">
                {{ getUserfriendlyDate(item.updated_at) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import moment from 'moment'
import reportDateMixin from '@/mixins/reportdate.mixin'
export default {
  mixins: [reportDateMixin],
  props: {
    company: {
      type: Object,
      required: true
    }
  },
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      typeId: 0,
      loading: true,
      chart: {
        accountability: {
          labels: ['billable', 'not billable'],
          series: []
        }
      },

      report: {
        tracked_by_projects: [],
        tracked_by_type: []
      }
    }
  },
  computed: {
    needBudget () {
      switch (this.project?.type?.id) {
        case 71: // monthly budget
        case 83: // fixed budget
          return true
        case 84: // budget on demand
        case 85: // no budget
          return false
      }
      return false
    },
    isFixedProject () {
      return this.project?.type?.id === 83 || false
    },
    type () {
      return this.project?.type?.title || ''
    },
    projectHeader () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'project_name'
        },
        {
          text: 'Total',
          align: 'right',
          sortable: true,
          width: '100px',
          value: 'total'
        }
      ]
    },
    ticketHeader () {
      return [
        {
          text: this.$t('Id'),
          align: 'left',
          sortable: true,
          value: 'task_id'
        },
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'task_name'
        },
        {
          text: 'Total',
          align: 'right',
          sortable: true,
          width: '100px',
          value: 'total'
        }
      ]
    },
    typeHeader () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'type_name'
        },
        {
          text: 'Total',
          align: 'right',
          sortable: true,
          width: '100px',
          value: 'total'
        }
      ]
    },
    totalTrackedTime () {
      return this.report?.tracked?.total || 0
    },
    billableTrackedTime () {
      return this.report?.tracked?.billable || 0
    },
    notBillableTrackedTime () {
      return this.report?.tracked?.not_billable || 0
    },
    realEffectivity () {
      return this.report?.effectivity?.real || 0
    },
    totalEffectivity () {
      return this.report?.effectivity?.total || 0
    }
  },
  methods: {
    getUserfriendlyDate (date) {
      return moment(date).format('DD.MM.YY')
    },
    fetchReportData () {
      this.loading = true
      this.$companyApiService.getReportOverviewById(this.index, {
        from: this.reportdate.from,
        to: this.reportdate.to
      }).then((result) => {
        this.report = result

        // this.chart.accountability.series = [result.hours_tracked.billable, result.hours_tracked.not_billable]
        this.loading = false
      })
    }
  }
}
</script>
