<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>{{ item.title }}</v-toolbar-title>
      <v-spacer />
      <v-btn icon :to="{ name: 'projects-edit', params: { index: index }}" nuxt>
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </v-toolbar>
    <NuxtChild :project="item" />
  </div>
</template>
<script>
export default {
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      item: {}
    }
  },
  async fetch () {
    this.item = await this.$projectApiService.getById(this.index)
  }
}
</script>
