<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <table-server
          :headers="headers"
          :service="service"
        >
          <template #item.action="{ item }">
            <v-btn icon :to="{ name: 'projects-edit', params: { index: item.id }}" nuxt>
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn icon :to="{ name: 'projects-show', params: { show: item.id }}" nuxt>
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </template>

          <template #item.name="{ item }">
            <nuxt-link :to="{ name: 'projects-show', params: { show: item.id }}">
              {{ item.name }}
            </nuxt-link>
          </template>
        </table-server>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
    headers () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Type',
          align: 'left',
          sortable: false,
          value: 'type.name'
        },
        {
          text: 'Category',
          align: 'left',
          sortable: false,
          value: 'category.name'
        },
        {
          text: '',
          align: 'right',
          value: 'action',
          sortable: false,
          name: 'action'
        }
      ]
    },
    service () {
      return this.$projectApiService
    }
  },
  methods: {
  }
}
</script>

<style>
</style>
