<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>{{ item.name }}</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items>
        <v-flex align-center layout py-2 />
      </v-toolbar-items>
    </v-toolbar>
    <NuxtChild :team="item" />
  </div>
</template>
<script>
export default {
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      item: {}
    }
  },
  async fetch () {
    this.item = await this.$teamApiService.getById(this.index)
  }
}
</script>
