<template>
  <v-data-table
    :headers="headers"
    :items="items"
    item-key="id"
    mobile-breakpoint="0"
    class="elevation-1"
    :search="term"
    :sort-by.sync="sortBy"
    :sort-desc.sync="sortDescending"
    :options.sync="options"
    :server-items-length="total"
    :items-per-page="itemsPerPage"
    :loading="isLoading"
    :footer-props="{
      showFirstLastPage: true,
      itemsPerPageOptions: itemsPerPageOptions,
      firstIcon: 'mdi-arrow-collapse-left',
      lastIcon: 'mdi-arrow-collapse-right',
      prevIcon: 'mdi-minus',
      nextIcon: 'mdi-plus'
    }"
  >
    <template #top>
      <v-text-field
        v-model="term"
        :label="$t('Search')"
        class="mx-4"
      />
    </template>
    <template v-for="(slot, name) in $scopedSlots" #[name]="item">
      <slot :name="name" v-bind="item" />
    </template>
  </v-data-table>
</template>
<script>
import listingMixin from '@/mixins/listing.mixin'
// const debounce = require('debounce')

export default {
  mixins: [listingMixin],
  props: {
    headers: {
      type: Array,
      required: true
    },
    service: {
      type: Object,
      required: true
    },
    requestParams: {
      type: Object,
      required: false,
      default: () => {
        return {}
      }
    },
    functionName: {
      type: String,
      required: false,
      default: 'getList'
    },
    defaultSortBy: {
      type: String,
      required: false,
      default: 'id'
    }
  },
  data () {
    return {
    }
  },

  computed: {
    isLoading () {
      let loading = false
      Object.values(this.loading).forEach((loadState) => {
        if (loadState) {
          loading = true
        }
      })
      return loading
    }
  },
  /*
  watch: {
    search: debounce(function (newVal) {
      this.getDataFromApi()
    }, 300),
    options: {
      handler () {
        this.getDataFromApi()
      },
      deep: true
    }
  }, */
  mounted () {
    // this.sortBy = this.defaultSortBy
  },
  methods: {
    getList () {
      this.loading.items = true

      const options = Object.assign({}, this.options, this.requestParams)
      options.term = this.term

      if (typeof this.service[this.functionName] !== 'function') {
        throw new TypeError(this.functionName + ' not exists in Service')
      }

      this.service[this.functionName]?.(options)
        .then((data) => {
          this.items = data.items
          this.total = data.total
          this.loading.items = false
        })
    }
  }
}
</script>
