<template>
  <v-container>
    <v-row>
      <v-spacer />
      <v-col>
        <date-picker :value="datePickerDates" @input="onDateChange" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Soll-Ist</v-card-title>
          <v-card-text>
            <v-data-table
              :headers="projectHeader"
              :items="capacityTableData"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              hide-default-header
              :items-per-page="9999999"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import reportDateMixin from '@/mixins/reportdate.mixin'
import { THIS_MONTH_START, getMaxEndOfMonth } from '@/utils/time.utils'
import { debug } from '@/utils/util.service'
export default {
  mixins: [reportDateMixin],
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      capacity: {},
      reportdate: {
        from: THIS_MONTH_START,
        to: getMaxEndOfMonth()
      }
    }
  },
  computed: {
    capacityTableData () {
      const results = []
      const hoursSoFar = this.capacity.hours_so_far || 0
      const vacationDaysHours = this.capacity.vacation_days_hours * -1 || 0
      const dayOffHours = this.capacity.day_off_hours * -1 || 0
      const soll = hoursSoFar + vacationDaysHours + dayOffHours

      results.push({
        id: 'hours_so_far',
        name: 'Sollstunden vor Abzügen',
        value: hoursSoFar
      })
      results.push({
        id: 'day_offs',
        name: 'Feiertage',
        value: dayOffHours
      })
      results.push({
        id: 'vacation_days',
        name: 'Urlaub',
        value: vacationDaysHours
      })
      results.push({
        name: 'Soll',
        value: soll || 0
      })
      results.push({
        name: 'Ist',
        value: this.capacity.tracked?.total || 0
      })
      return results
    },
    projectHeader () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Total',
          align: 'left',
          sortable: false,
          value: 'value'
        }
      ]
    }
  },
  methods: {
    fetchReportData () {
      this.loading = true
      this.$personalApiService.getReportOverviewById(this.index, {
        from: this.reportdate.from,
        to: this.reportdate.to
      }).then((result) => {
        this.loading = false
        this.capacity = result
      }).catch((error) => {
        if (error) {
          debug.error(error)
        }
      })
    }
  }
}
</script>
