<template>
  <v-container>
    <v-row>
      <v-spacer />
      <v-col class="text-right">
        2021
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Urlaub im Jahr </v-card-title>
          <v-card-text>
            <v-data-table
              :loading="loading"
              :headers="projectHeader"
              :items="holiday.items"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.start_date="{ item }">
                {{ getFormatedDate(item.start_date) }}
              </template>
              <template #item.end_date="{ item }">
                {{ getFormatedDate(item.end_date) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      loading: false,
      holiday: {
        items: []
      }
    }
  },
  async fetch () {
    this.loading = true
    this.$personalApiService.getHolidayByIdAndYear(this.index, 2021).then((holidays) => {
      this.holiday = holidays
      this.loading = false
    })
  },
  computed: {
    projectHeader () {
      return [
        {
          text: 'Title',
          align: 'left',
          sortable: true,
          value: 'title'
        },
        {
          text: 'Start',
          align: 'left',
          sortable: true,
          value: 'start_date'
        },
        {
          text: 'End',
          align: 'left',
          sortable: true,
          value: 'end_date'
        }
      ]
    }
  },
  methods: {
    getFormatedDate (str) {
      const date = Date.parse(str)
      const d = new Date(+date)
      const pad = (n, s = 2) => (`${new Array(s).fill(0)}${n}`).slice(-s)

      return `${pad(d.getDate())}.${pad(d.getMonth() + 1)}.${pad(d.getFullYear(), 4)}`
    }
  }
}
</script>
