<template>
  <v-container>
    <v-row>
      <v-spacer />
      <v-col>
        <date-picker :value="datePickerDates" @input="onDateChange" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <v-card class="fill-height">
          <v-card-title class="text-h5">
            Stunden
          </v-card-title>
          <v-card-text>
            <small>Soll</small><br>
            <span class="text-h5 font-weight-bold">
              {{ shouldHours }} h
            </span>
            <br><br>
            <small>Erfasst gesamt</small><br>
            <span class="text-h5 font-weight-bold" :class="{'success--text': totalTrackedTime >= shouldHours, 'red--text': shouldHours < totalTrackedTime }">
              {{ totalTrackedTime }} h
            </span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card class="fill-height">
          <v-card-title class="text-h5">
            Verrechenbarkeit
          </v-card-title>
          <v-card-text>
            <chart-donut :loading="loading" :labels="chart.accountability.labels" :series="chart.accountability.series" />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card class="fill-height">
          <v-card-title class="text-h5">
            Effektivität
          </v-card-title>

          <v-card-text>
            <small>Gesamtarbeitszeit</small><br>
            <span
              class="text-h5 text-center font-weight-bold"
            >
              {{ effectivity.total }} %
            </span>
            <br><br>
            <small>Realarbeit</small><br>
            <span
              class="text-h5 text-center font-weight-bold"
              :class="{'success--text': effectivity.real >= 90, 'red--text': effectivity.real < 50, 'info--text': effectivity.real < 90}"
            >
              {{ effectivity.real }} %
            </span>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <!--
    <v-row>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>Krankheitstage</v-card-title>
          <v-card-text>
            stunden
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>Resturlaub</v-card-title>
          <v-card-text>
            stunden
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    -->
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Stunden nach Projekte</v-card-title>
          <v-card-text>
            <v-data-table
              :headers="projectHeader"
              :items="report.tracked_by_projects"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              :loading="loading"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>
              <template #item.project_name="{ item }">
                <nuxt-link :to="{ name: 'projects-show', params: { show: item.project_id }}">
                  {{ item.project_name }}
                </nuxt-link>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import reportDateMixin from '@/mixins/reportdate.mixin'
import { THIS_MONTH_START, getMaxEndOfMonth } from '@/utils/time.utils'
export default {
  mixins: [reportDateMixin],
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      loading: true,
      reportdate: {
        from: THIS_MONTH_START,
        to: getMaxEndOfMonth()
      },
      chart: {
        accountability: {
          labels: [],
          series: []
        }
      },

      report: {
        tracked_by_projects: []
      },
      accountabilityLabels: []
    }
  },
  computed: {
    projectHeader () {
      return [
        {
          text: 'Project',
          align: 'left',
          sortable: true,
          value: 'project_name'
        },
        {
          text: this.$t('Project type'),
          align: 'left',
          sortable: false,
          value: 'project_type_name'
        },
        {
          text: 'Total',
          align: 'right',
          sortable: true,
          width: '100px',
          value: 'total'
        }
      ]
    },
    shouldHours () {
      return this.report?.hours_so_far || 0
    },
    totalTrackedTime () {
      return this.report?.tracked?.total || 0
    },
    effectivity () {
      return this.report?.effectivity || 0
    }
  },
  methods: {

    fetchReportData () {
      this.loading = true
      this.$personalApiService.getReportOverviewById(this.index, {
        from: this.reportdate.from,
        to: this.reportdate.to
      }).then((result) => {
        this.report = result
        this.updateChart().then(() => {
          this.loading = false
        })
      })
    },

    updateChart () {
      const self = this
      return new Promise((resolve) => {
        const shouldHours = self.shouldHours
        const totalTrackedTime = self.totalTrackedTime
        let missedHours = 0
        const billable = self.report?.tracked?.billable
        const notBillable = self.report?.tracked?.not_billable

        self.chart.accountability.labels.splice(0, self.chart.accountability.labels.length)

        if (shouldHours > totalTrackedTime) {
          missedHours = shouldHours - totalTrackedTime
          self.chart.accountability.labels.push('missed hours')
          self.chart.accountability.labels.push(self.$t('billable'))
          self.chart.accountability.labels.push(self.$t('not billable'))
          self.chart.accountability.series = [missedHours, billable, notBillable]
        } else {
          self.chart.accountability.labels.push(self.$t('billable'))
          self.chart.accountability.labels.push(self.$t('not billable'))
          self.chart.accountability.series = [billable, notBillable]
        }

        return resolve()
      })
    }
  }
}
</script>
