<template>
  <v-container>
    <v-row>
      <v-spacer />
      <v-col>
        <date-picker :value="datePickerDates" @input="onDateChange" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Stunden nach Projekte</v-card-title>
          <v-card-text>
            <v-data-table
              :loading="loading"
              :headers="projectHeader"
              :items="projects"
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>
              <template #item.project_name="{ item }">
                <nuxt-link :to="{ name: 'projects-show', params: { show: item.project_id }}">
                  {{ item.project_name }}
                </nuxt-link>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import reportDateMixin from '@/mixins/reportdate.mixin'
import { THIS_MONTH_START, getMaxEndOfMonth } from '@/utils/time.utils'
export default {
  mixins: [reportDateMixin],
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      loading: true,
      reportdate: {
        from: THIS_MONTH_START,
        to: getMaxEndOfMonth()
      },
      projects: []
    }
  },
  /*
  async fetch () {
    // this.overview = await this.$personalApiService.getReportOverviewById(this.index)
  },

   */
  computed: {
    projectHeader () {
      return [
        {
          text: 'Project',
          align: 'left',
          sortable: true,
          value: 'project_name'
        },
        {
          text: this.$t('Project type'),
          align: 'left',
          sortable: false,
          value: 'project_type_name'
        },
        {
          text: 'Total',
          align: 'right',
          sortable: true,
          width: '100px',
          value: 'total'
        }
      ]
    }
  },
  methods: {
    fetchReportData () {
      this.loading = true
      this.$personalApiService.getProjects(this.index, {
        from: this.reportdate.from,
        to: this.reportdate.to
      }).then((projects) => {
        this.projects = projects
        this.loading = false
      })
    }
  }
}
</script>
