<template>
  <v-container>
    <v-row>
      <v-spacer />
      <v-col>
        <date-picker :value="datePickerDates" @input="onDateChange" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Zeiterfassung</v-card-title>
          <v-card-text>
            <v-data-table
              :loading="loading"
              :headers="projectHeader"
              :items="projects"
              item-key="project_id"
              show-expand
              single-expand
              :sort-by="['total']"
              :sort-desc="[true]"
              mobile-breakpoint="0"
              :expanded.sync="expanded"
              class="elevation-0"
              hide-default-footer
              :items-per-page="9999999"
            >
              <template #item.project_name="{ item }">
                <nuxt-link :to="{ name: 'projects-show', params: { show: item.project_id }}" style="text-decoration: none; color: #000 ">
                  {{ item.project_name }}
                </nuxt-link>
              </template>
              <template #item.total="{ item }">
                {{ item.total }} h
              </template>

              <template #expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                  <v-simple-table flat dense class="my-4">
                    <template #default>
                      <thead>
                        <tr>
                          <th class="text-left">
                            {{ $t('Id') }}
                          </th>
                          <th class="text-left">
                            {{ $t('Date') }}
                          </th>
                          <th class="text-left">
                            {{ $t('Name') }}
                          </th>
                          <th class="text-right" style="max-width: 130px;">
                            {{ $t('Total') }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(record, index) in item.records" :key="record.task_id + '-' + index">
                          <td>{{ record.task_id }}</td>
                          <td>{{ record.record_date }}</td>
                          <td>{{ record.task_name }}</td>
                          <td class="text-right">
                            {{ record.total }}
                          </td>
                          <!--
                          <td>
                            <v-text-field
                              v-if="record.is_billable"
                              filled
                              single-line
                              :placeholder="$t('billable')"
                              dense
                              type="number"
                              hide-details
                              class="my-2"
                              :value="record.total"
                              style="max-width: 100px;"
                            />
                          </td>
                          <td>
                            <v-text-field
                              v-if="!record.is_billable"
                              filled
                              single-line
                              dense
                              :placeholder="$t('not billable')"
                              type="number"
                              hide-details
                              class="my-2"
                              :value="record.total"
                              style="max-width: 100px;"
                            />
                          </td>
                          -->
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import reportDateMixin from '@/mixins/reportdate.mixin'
import { THIS_MONTH_START, getMaxEndOfMonth } from '@/utils/time.utils'

export default {
  mixins: [reportDateMixin],
  async asyncData ({ params }) {
    const index = +params.show// When calling /abc the slug will be "abc"
    return { index }
  },
  data () {
    return {
      projects: [],
      loading: false,
      expanded: [],
      reportdate: {
        from: THIS_MONTH_START,
        to: getMaxEndOfMonth()
      }
    }
  },
  /*
  async fetch () {
    // this.overview = await this.$personalApiService.getReportOverviewById(this.index)
  },

   */
  computed: {
    projectHeader () {
      return [
        {
          text: this.$t('Name'),
          align: 'left',
          sortable: true,
          value: 'project_name'
        },
        {
          text: 'Total',
          align: 'right',
          sortable: true,
          width: '100px',
          value: 'total'
        }
      ]
    }
  },
  methods: {
    fetchReportData () {
      this.loading = true
      this.$personalApiService.getProjectDetails(this.index, {
        from: this.reportdate.from,
        to: this.reportdate.to
      }).then((results) => {
        this.projects = results
        this.loading = false
      })
    }
  }
}
</script>
