<template>
  <div id="app">
    <v-app
      :style="{background: $vuetify.theme.themes['light'].background}"
    >
      <core-header />

      <core-drawer />
      <v-main
        id="main"
      >
        <nuxt />
      </v-main>
    </v-app>
  </div>
</template>

<script>

export default {
}
</script>

<style>
body {
  margin: 0 !important;
}
</style>
